In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [6]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
       SELECT x.name, 
ROUND(SUM(CASE
WHEN memid = 0 THEN (x.guestcost * x.slots)
WHEN memid <> 0 THEN (x.membercost * x.slots) END), 2) AS total_revenue  
FROM (SELECT * FROM Bookings INNER JOIN Facilities USING (facid)) AS x
GROUP BY x.name
HAVING ROUND(SUM(CASE
WHEN memid = 0 THEN (x.guestcost * x.slots)
WHEN memid <> 0 THEN (x.membercost * x.slots) END), 2) < 1000
ORDER BY total_revenue; 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180.0)
('Snooker Table', 240.0)
('Pool Table', 270.0)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order.

In [9]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT (m1.surname || ', ' || m1.firstname) AS member_name, 
        (m2.surname || ', ' || m2.firstname) AS referring_member
FROM Members m1
INNER JOIN Members m2
ON m1.recommendedby = m2.memid
ORDER BY member_name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

Q12: Find the facilities with their usage by member, but not guests.

In [11]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT 
            facid, 
            COUNT(bookid) AS num_bookings
        FROM Bookings
            WHERE memid <> 0
            GROUP BY facid
            ORDER BY num_bookings DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(8, 783)
(7, 421)
(4, 421)
(3, 385)
(2, 344)
(0, 308)
(1, 276)
(6, 195)
(5, 27)

Q13: Find the facilities usage by month, but not guests.

In [12]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT 
	facid, 
	(CASE
    	WHEN starttime LIKE '2012-01%' THEN '1January' 
     	WHEN starttime LIKE '2012-02%' THEN '2February'
     	WHEN starttime LIKE '2012-03%' THEN '3March'
     	WHEN starttime LIKE '2012-04%' THEN '4April'
     	WHEN starttime LIKE '2012-05%' THEN '5May'
     	WHEN starttime LIKE '2012-06%' THEN '6June'
     	WHEN starttime LIKE '2012-07%' THEN '7July'
    	WHEN starttime LIKE '2012-08%' THEN '8August'
     	WHEN starttime LIKE '2012-09%' THEN '9September'
     	WHEN starttime LIKE '2012-10%' THEN '10October'
     	WHEN starttime LIKE '2012-11%' THEN '11November'
     ELSE '12December' END) AS month, 
     COUNT(bookid) AS num_bookings
FROM Bookings
WHERE memid <> 0
GROUP BY month, facid
ORDER BY facid, month;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, '7July', 65)
(0, '8August', 111)
(0, '9September', 132)
(1, '7July', 41)
(1, '8August', 109)
(1, '9September', 126)
(2, '7July', 51)
(2, '8August', 132)
(2, '9September', 161)
(3, '7July', 48)
(3, '8August', 143)
(3, '9September', 194)
(4, '7July', 77)
(4, '8August', 153)
(4, '9September', 191)
(5, '7July', 4)
(5, '8August', 9)
(5, '9September', 14)
(6, '7July', 23)
(6, '8August', 85)
(6, '9September', 87)
(7, '7July', 68)
(7, '8August', 154)
(7, '9September', 199)
(8, '7July', 103)
(8, '8August', 272)
(8, '9September', 408)